body {
  outline: solid 1px red;
}

ul {
  
}






nav {
  
}

section {
  
}

.features-list {
  
}

.feature-item {
  
}




div {
  background-color:;
}



.footer {
  border: solid 1px #ff006e;
}

header {
  
}



