body {
  border: solid 1px red;
}

ul {
  
}






nav {
  
}

section {
  
}

.features-list {
  background-color: yellow;
}

.feature-item {
  background-color: blue;
}




div {
  background-color:;
}



.footer {
  border: solid 1px #ff006e;
}

header {
  
}



