.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  
  
}

body {
  
  
  
  
  
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  
  /*background-image: url("../img/top-menu.jpg");*/
  background-size: 100% auto;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.site-navigation,
.features-list,
.item-list,
.social-list,
.search-list,
.result-tool,
.triangle-tool,
.showed-results {
  list-style: none;
}

.site-navigation a,
.result-tool a,
.showed-item a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.feature-item h3,
.feature-item h4  {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.titles {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.only-one {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}



.footer-tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.feature-item:nth-child(n+4):nth-child(-n+6) {
  width: 33.33%;
  background-color: #eeeeee;
}

.results {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.result-button a {
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}

.result-button a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.result-button a:active {
  color: #000000;
  border: none;
}

.results h3 {
  font-size: 21px;
  line-height: 26px;
}

.triangle-button a {
  fill: #000000;
  opacity: 0.3;
}

.triangle-button a:hover {
  fill: #000000;
  opacity: 1;
}

.triangle-button a:active {
  fill: #81b3d2;
  opacity: 1
}

.results a h3:hover {
  color: #81b3d2;
}

.results a h3:active {
  color: #000000;
  opacity: 0.3;
}

.modal-search {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.showed-item {
  border: 1px solid #e5e5e5;
}

a.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  border: none;
}

a.button-info {
  background-color: #81b3d2;
}

a.button-booking {
  background-color: #766357;
}

.button-booking,
.button-info {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.button-booking:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.social-img {
  
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-img:hover {
  background-color: #669ec0;
}

.social-img:active {
  background-color: #5496bd;
}

.social-img:active svg {
  opacity: 0.3;
}

.modal-search input:not(:last-child) {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}

.modal-search input:not(:last-child):hover {
  background-color: #ebebeb;
  border:  1px solid #ebebeb;
}

.modal-search input:not(:last-child):focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.search-form fieldset {
  
  border: none;
}

.search-form legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 35px;
  margin: 0;
}

.search-form ul {
  
}

.search-input:disabled + legend {
  opacity: 0.3;
}

.rating {
  color: #666666;
  
}

.search-result {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  text-transform: uppercase;
}

.search-result:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.place-search {
  
  width: 100%;
  
  background-color: #ffffff;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-position-y: 5%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;

  
}

.list-item:not(:first-child) {
  margin-top: 35px;
  
}

.list-item:last-child {
  padding-bottom: 35px;
}

.search {
  padding: 0;
  padding-left: 73px;
  padding-top: 35px;
  list-style: none;
}

.search:last-child {
  padding-right: 73px;
}

.search-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 0;
  min-height: 56px;
}

.main-navigation {
  
  width: 100%;
  padding: 0;
  min-height: 56px;
  
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  
}

.main-header-logo img {
  width: 138px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
}

.site-navigation {
  font-size: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  
  width: 100%;
  min-height: 56px;
  
  
}

.site-navigation li {
  vertical-align: middle;
  
  width: 240px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;
}

.site-navigation li a {
  text-decoration: none;
  
  
  
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  
}

.header-background {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-background img {
  width: 100%;
  height: 100%;
}

.main-content {
  
  width: 100%;
  padding: 0;
  margin: 0;
}

.titles {
  min-height: 215px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  margin-top: 0;
  padding: 0;
}

.titles p:nth-child(1) {
  margin: 0;
  line-height: 26px;
  font-size: 21px;
  padding-top: 55px;
  
}

.titles p:nth-child(2) {
  line-height: 26px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 0;
  
}

.features-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 0;
  width: 100%;
}



.feature-item .feature-part {
  font-size: 14px;
  line-height: 21px;
  min-width: 33.33%;
  min-height: 256px;
  vertical-align: middle;
  margin: 0;
  padding-left: 65px;
  padding-right: 65px; 
  display: inline-block;
}


.item-list {
  align-items: center;
  width: 100%;
  min-height: 256px;
  background-color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  
}

.more-features {
  width: 100%;
  min-height: 330px;
}

.items {
  width: 33.3%;
  padding-left: 65px;
  padding-right: 65px;
  line-height: 21px;
  font-size: 14px;
}

.items h4 {
  padding-top: 165px;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

.items:nth-child(1) {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
}

.items:nth-child(2) {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
}

.items:nth-child(3) {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 35%;
  
}

.feature-item:nth-child(1) {
  width: 100%;
  background-color: #81b3d2;
  float: left;
  color: #ffffff;
 
}

.feature-item:nth-child(1) .feature-special {
  float: left;
  width: 33.33%;
}



.feature-item:nth-child(1) .feature-img {
  width: 66.66%;
  min-height: 256px;
  background-image: url("../img/house.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 55%;
  float: right;
}

.feature-item:nth-child(3) .feature-img {
  width: 66.66%;
  min-height: 256px;
  background-image: url("../img/bridge.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 55%;
  float: left;
}

.feature-item:nth-child(3) {
  width: 100%;
  background-color: #81b3d2;
  

  color: #ffffff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.feature-item:nth-child(3) .feature-special {
  
  float: right;
  width: 33.33%;
}


.feature-item h3 {
  padding-top: 50px;
  margin: 0;
}

.feature-item p {
  margin-top: 32px;
  margin-bottom: 0;
  padding: 0;
}

.reserve-form {
  width: 100%;
  min-height: 292px;
 
}

.map {
  width: 100%;
  height: 100%;
  
}

.modal-part {

  width: 100%;
  min-height: 290px;
}

.button-search {
  display: inline-block;
  background-color: #766357;
  line-height: 26px;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  padding: 30px 140px 30px 140px;
  
}

.modal-part p {
  margin: 0;
  padding-bottom: 55px;
}

.main-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
  bottom: 0;
  position: absolute;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.social-img {
  
  margin: 3px;
}

.main-footer svg {
  vertical-align: middle;
}

.footer-copyright {
  display: inline-block;
}

.social-img svg {
  margin-top: 35%;
  display: inline-block;
  
  
}

.modal-search {
  padding: 55px;
  min-height: 395px;
  min-width: 567px;
}

.modal-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 568px;
  margin: auto;
  justify-content: center;
}

.modal-item:not(:first-child) {
  min-width: 460px;
  margin-top: 30px;
  text-align: start;
 
}

.modal-item input {
  
  line-height: 26px;
  min-width: 345px;
  outline: none;
  min-height: 38px;
}

.modal-item .calendar-button {
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: none;
  margin-left: -3%;
  padding-top: 10px;
  width: 20px;
  height: 22px;
  fill: #a9a9a9;
  outline: none;
}

.modal-item:nth-child(n+3) input {
  min-width: 114px;
  min-height: 38px;
  
}

.modal-item:nth-child(n+3) {
  min-width: 229px;
  display: inline-block;
  
}



.reserve-plus {
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: none;
  margin-left: -3%;
  padding-top: 15px;
  
  outline: none;
}

.reserve-minus {
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: none;
  margin-left: 1%;
  padding-top: 11px;
  outline: none;
}

.modal-item label {
  margin-right: 24px;
}

.reserve-submit input {
  display: block;
  position: absolute;
  margin-top: 100px;
}

.filter-range {
  width: 330px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  font-size: 0;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.results {
  width: 100%;
}

.result-button {
  display: inline-block;
  vertical-align: middle;
  padding: 35px 0 35px 35px;
}

.result-button:first-child {
  padding-left: 40px;
  margin-left: 0; 
}

.sorting {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 18px;
  
  align-items: center;
  align-content: center;
  
  
  
}



.triangle-button {
  
  display: inline-block;
  margin-left: 5px;
  
  
}

.triangle-tool {
  margin-right: 73px;
  padding: 0;
  
}

.special-title {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  padding-left: 73px;
  align-self: baseline;
  padding-top: 2%;
  float: left;
  
  margin: auto;
}

.sorting p {
  margin: 0;
  margin-left: 20%;
  margin-right: 40px;
}

.result-tool {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  
}

.showed-results {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.showed-item {
  width: 100%;
  display: block;
}

.showed-img {
  padding: 30px;
  padding-left: 73px;
  float: left;
}

.stars .star {

  margin: 0;
}


.stars {
  display: inline-block;
  float: right;
  margin-right: 73px;
  margin-top: 30px;
  margin-bottom: 43px;
  top: 0;
}

.rate-container .rating {
  
    float: right;
    padding: 3px 13px;
    margin-right: 73px;
    background: #f2f2f2;
    margin-bottom: 30px;
    margin-top: 0;
    
}


.rate-container {
  float: right;
  width: 185px;
  
}

.rate-container .stars {
  float: right;
  margin-right: 73px;
  margin-bottom: 43px;
  
  
  
}

.results .main-info {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 30px;
  max-width: 66%;
  vertical-align: top;
  
}

.main-info h3 {
  font-size: 21px;
  margin: 0;
}

.main-info .more-info {
  display: inline-block;
  width: 110px;
  margin-right: 6px;
  vertical-align: top;
}

.main-info .apartment-info {
  display: block;
  margin-bottom: 9px;
  margin-top: 9px;
}

.main-info .button {
  display: inline-block;
  padding: 5px 17px;
  margin-right: 6px;
  vertical-align: top;
  font-weight: bold;
  text-decoration: none;
}

.main-info .button-info {
  color: #ffffff;
  background-color: #81b3d2;
}

.main-info .book-it {
  display: inline-block;
  width: 142px;
  vertical-align: top;
}

.main-info .button-booking {
  color: #ffffff;
  background-color: #766357;
}




.showed-item span {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
}

